.mainScreen {
    height: 380px;
	width: 700px;
	margin: 0 auto;
}
.leftPanel { 
	background-color: rgba(60, 70, 80, 0.10); 
}
.centerPanel { 
	background-color: rgba(60, 70, 80, 0.10); 
}
.rightPanel { 
	background-color: rgba(60, 70, 80, 0.10); 
}
.addTaskButton{
	width: 100%;
	height: 100%;
	background-color: #CCCCCC;
}
.pane-content {
	padding: 0 10px;
}
.taskListDataView {
	padding: 5% 5% 5% 5%;
	border-bottom: 1px solid #CCCCCC;
}
.selectedTaskListDataView {
	padding: 5% 5% 5% 5%;
	background-color: #CCCCCC;
}
.contentName {
    width: 100%;
	height: 80%;
    float: right;
    background-color: #FFFFFF;
}
.subTaskName{
	margin: 2%;
}

.editTaskButtonName0{
	float:right;
}

.editTaskButtonName1{
	float:right;
}

.editTaskButtonName2{
	float:right;
}