#createTaskListPopup {
    width: 400px;
	height: 300px;
}
#createTaskListPopupTitle{
	text-align: center;
}
#addTaskListSaveButton{
	width: 25%;
	height: 15%;
	margin: 5%;
	right: 0px;
	position: absolute;
	bottom: 0px;
}
#addTaskListCancelButton{
	width: 25%;
	height: 15%;
	margin: 5%;
	left: 0px;
	position: absolute;
	bottom: 0px;
}
#addTaskListDeleteButton{
	width: 25%;
	height: 15%;
	margin: 5%;
	left: 30%;
	position: absolute;
	bottom: 0px;
}
#addTaskListTextBox{
	margin: 5%;
	width: 90%;
}

