<div id="horizontal" style="height: 100%; width: 100%;">
    <div id="left-pane">
        <div id="left-splitter-pane" class="pane-content">
            <div class="pane-content">
				<h3>Inner splitter / left pane</h3>
				<p>Resizable.</p>
			</div>
			<div class="pane-content">
				<h3>Inner splitter / left pane</h3>
				<p>Resizable.</p>
			</div>
			<div class="pane-content">
				<h3>Inner splitter / left pane</h3>
				<p>Resizable.</p>
			</div>
		</div>
    </div>
    <div id="center-pane">
        <div class="pane-content">
            <h3>Inner splitter / center pane</h3>
            <p>Resizable only.</p>
        </div>
    </div>
    <div id="right-pane">
        <div class="pane-content">
            <h3>Inner splitter / right pane</h3>
            <p>Resizable.</p>
        </div>
    </div>
</div>